<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443855062208-ejdtpfuvh8loi8ulfdmup3s5b6i3u6hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443855062208-ejdtpfuvh8loi8ulfdmup3s5b6i3u6hs</string>
	<key>API_KEY</key>
	<string>AIzaSyCh7ymLwLGHlU1-xR-MQYXfHjG_8ni2djI</string>
	<key>GCM_SENDER_ID</key>
	<string>443855062208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jh8.shopisan</string>
	<key>PROJECT_ID</key>
	<string>shopisan</string>
	<key>STORAGE_BUCKET</key>
	<string>shopisan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443855062208:ios:e2f7ef593316284bb75925</string>
</dict>
</plist>